[project]
	description = Deepin developer center, provide developer wiki and community forum.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Choldrim (choldrim)
[access "refs/for/refs/*"]
	read = group user/Choldrim (choldrim)
	push = group user/Choldrim (choldrim)
	label-Code-Review = -2..+2 group user/Choldrim (choldrim)
	label-Verified = -1..+1 group user/Choldrim (choldrim)
	rebase = group user/Choldrim (choldrim)
	removeReviewer = group user/Choldrim (choldrim)
	submit = group user/Choldrim (choldrim)
[access "refs/heads/*"]
	read = group user/Choldrim (choldrim)
	create = group user/Choldrim (choldrim)
	push = +force group user/Choldrim (choldrim)
	pushMerge = group user/Choldrim (choldrim)
[access "refs/tags/*"]
	push = +force group user/Choldrim (choldrim)
	pushTag = group user/Choldrim (choldrim)
	pushSignedTag = group user/Choldrim (choldrim)
