table:first-of-type tr:nth-child(1) td:nth-child(2) { background-color: red; }
table:first-of-type tr:nth-child(1) td:nth-child(4) { background-color: red; }
table:first-of-type tr:nth-child(3) td:nth-child(2) { background-color: red; }
table:first-of-type tr:nth-child(4) td:nth-child(2) { background-color: red; }
table:first-of-type tr:nth-child(5) td:nth-child(2) { background-color: red; }
table:first-of-type tr:nth-child(5) td:nth-child(4) { background-color: red; }
table:first-of-type tr:nth-child(6) td:nth-child(2) { background-color: red; }
table:first-of-type tr:nth-child(6) td:nth-child(4) { background-color: red; }
table:first-of-type tr:nth-child(14) td:nth-child(2) { background-color: red; }
table:first-of-type tr:nth-child(17) td:nth-child(2) { background-color: red; }
table:first-of-type tr:nth-child(17) td:nth-child(3) { background-color: red; }
table:first-of-type tr:nth-child(19) td:nth-child(2) { background-color: red; }
table:first-of-type tr:nth-child(20) td:nth-child(2) { background-color: red; }
table:first-of-type tr:nth-child(21) td:nth-child(2) { background-color: red; }
table:first-of-type tr:nth-child(22) td:nth-child(2) { background-color: red; }
table:first-of-type tr:nth-child(24) td:nth-child(2) { background-color: red; }
table:first-of-type tr:nth-child(26) td:nth-child(2) { background-color: red; }
table:first-of-type tr:nth-child(27) td:nth-child(2) { background-color: red; }
table:first-of-type tr:nth-child(30) td:nth-child(2) { background-color: red; }
table:first-of-type tr:nth-child(30) td:nth-child(3) { background-color: red; }
table:first-of-type tr:nth-child(31) td:nth-child(2) { background-color: red; }
table:first-of-type tr:nth-child(32) td:nth-child(2) { background-color: red; }
table:first-of-type tr:nth-child(33) td:nth-child(2) { background-color: red; }
table:first-of-type tr:nth-child(34) td:nth-child(2) { background-color: red; }
table:first-of-type tr:nth-child(35) td:nth-child(2) { background-color: red; }
table:first-of-type tr:nth-child(36) td:nth-child(2) { background-color: red; }
table:first-of-type tr:nth-child(36) td:nth-child(3) { background-color: red; }
table:first-of-type tr:nth-child(37) td:nth-child(2) { background-color: red; }
table:first-of-type tr:nth-child(37) td:nth-child(3) { background-color: red; }
table:first-of-type tr:nth-child(39) td:nth-child(4) { background-color: red; }
table:first-of-type tr:nth-child(40) td:nth-child(2) { background-color: red; }
table:first-of-type tr:nth-child(41) td:nth-child(2) { background-color: red; }
table:first-of-type tr:nth-child(43) td:nth-child(2) { background-color: red; }
table:first-of-type tr:nth-child(45) td:nth-child(2) { background-color: red; }
table:first-of-type tr:nth-child(46) td:nth-child(5) { background-color: red; }
table:first-of-type tr:nth-child(47) td:nth-child(2) { background-color: red; }
table:first-of-type tr:nth-child(47) td:nth-child(3) { background-color: red; }
table:first-of-type tr:nth-child(49) td:nth-child(2) { background-color: red; }
table:first-of-type tr:nth-child(49) td:nth-child(4) { background-color: red; }
table:first-of-type tr:nth-child(51) td:nth-child(2) { background-color: red; }
table:first-of-type tr:nth-child(55) td:nth-child(2) { background-color: red; }
table:first-of-type tr:nth-child(60) td:nth-child(4) { background-color: red; }
table:first-of-type tr:nth-child(63) td:nth-child(2) { background-color: red; }
table:first-of-type tr:nth-child(63) td:nth-child(4) { background-color: red; }
table:first-of-type tr:nth-child(64) td:nth-child(3) { background-color: red; }
table:first-of-type tr:nth-child(68) td:nth-child(2) { background-color: red; }
table:first-of-type tr:nth-child(76) td:nth-child(2) { background-color: red; }
table:first-of-type tr:nth-child(77) td:nth-child(2) { background-color: red; }
table:first-of-type tr:nth-child(79) td:nth-child(4) { background-color: red; }
table:first-of-type tr:nth-child(92) td:nth-child(2) { background-color: red; }
table:first-of-type tr:nth-child(94) td:nth-child(2) { background-color: red; }
table:first-of-type tr:nth-child(94) td:nth-child(3) { background-color: red; }
table:first-of-type tr:nth-child(98) td:nth-child(2) { background-color: red; }
table:first-of-type tr:nth-child(102) td:nth-child(3) { background-color: red; }
table:first-of-type tr:nth-child(105) td:nth-child(3) { background-color: red; }
table:first-of-type tr:nth-child(107) td:nth-child(2) { background-color: red; }
table:first-of-type tr:nth-child(109) td:nth-child(2) { background-color: red; }
table:first-of-type tr:nth-child(109) td:nth-child(3) { background-color: red; }
table:first-of-type tr:nth-child(109) td:nth-child(4) { background-color: red; }
table:first-of-type tr:nth-child(109) td:nth-child(5) { background-color: red; }
table:first-of-type tr:nth-child(110) td:nth-child(4) { background-color: red; }
table:first-of-type tr:nth-child(114) td:nth-child(2) { background-color: red; }
table:first-of-type tr:nth-child(114) td:nth-child(3) { background-color: red; }
table:first-of-type tr:nth-child(114) td:nth-child(5) { background-color: red; }
table:first-of-type tr:nth-child(115) td:nth-child(4) { background-color: red; }
table:first-of-type tr:nth-child(119) td:nth-child(4) { background-color: red; }
table:first-of-type tr:nth-child(120) td:nth-child(2) { background-color: red; }
table:first-of-type tr:nth-child(120) td:nth-child(4) { background-color: red; }
table:first-of-type tr:nth-child(121) td:nth-child(4) { background-color: red; }
table:first-of-type tr:nth-child(132) td:nth-child(2) { background-color: red; }
table:first-of-type tr:nth-child(133) td:nth-child(2) { background-color: red; }
table:first-of-type tr:nth-child(140) td:nth-child(2) { background-color: red; }
table:first-of-type tr:nth-child(144) td:nth-child(5) { background-color: red; }
table:first-of-type tr:nth-child(145) td:nth-child(5) { background-color: red; }
table:first-of-type tr:nth-child(146) td:nth-child(2) { background-color: red; }
table:first-of-type tr:nth-child(151) td:nth-child(2) { background-color: red; }
table:first-of-type tr:nth-child(151) td:nth-child(3) { background-color: red; }
table:first-of-type tr:nth-child(152) td:nth-child(2) { background-color: red; }
table:first-of-type tr:nth-child(152) td:nth-child(3) { background-color: red; }
table:first-of-type tr:nth-child(152) td:nth-child(4) { background-color: red; }
table:first-of-type tr:nth-child(155) td:nth-child(2) { background-color: red; }
table:first-of-type tr:nth-child(162) td:nth-child(2) { background-color: red; }
table:first-of-type tr:nth-child(163) td:nth-child(4) { background-color: red; }
table:first-of-type tr:nth-child(165) td:nth-child(2) { background-color: red; }
table:first-of-type tr:nth-child(165) td:nth-child(3) { background-color: red; }
table:first-of-type tr:nth-child(166) td:nth-child(2) { background-color: red; }
