/* url: http://mirrors.bfsu.edu.cn/deepin-cd/ msg: Get "https://mirrors.bfsu.edu.cn/deepin-cd/": dial tcp 39.155.141.16:443: i/o timeout */
a[href="http://mirrors.bfsu.edu.cn/deepin-cd/"] { padding: 3px; color: white; background-color: red; }

/* url: ftp://ftp.ubuntu-tw.org/mirror/deepin-cd/ msg: Unsupported protocol */
a[href="ftp://ftp.ubuntu-tw.org/mirror/deepin-cd/"] { padding: 3px; color: black; background-color: lightgrey; }
/* url: https://ftp.ubuntu-tw.org/deepin-cd/ msg: 404 Not Found */
a[href="https://ftp.ubuntu-tw.org/deepin-cd/"] { padding: 3px; color: white; background-color: red; }

/* url: ftp://ftp.sjtu.edu.cn/deepin-cd/ msg: Unsupported protocol */
a[href="ftp://ftp.sjtu.edu.cn/deepin-cd/"] { padding: 3px; color: black; background-color: lightgrey; }
/* url: ftp://ftp.tku.edu.tw/Linux/Deepin/deepin-cd/ msg: Unsupported protocol */
a[href="ftp://ftp.tku.edu.tw/Linux/Deepin/deepin-cd/"] { padding: 3px; color: black; background-color: lightgrey; }
/* url: ftp://ftp.ubuntu-tw.org/mirror/deepin-cd/ msg: Unsupported protocol */
a[href="ftp://ftp.ubuntu-tw.org/mirror/deepin-cd/"] { padding: 3px; color: black; background-color: lightgrey; }
/* url: https://ftp.ubuntu-tw.org/deepin-cd/ msg: 404 Not Found */
a[href="https://ftp.ubuntu-tw.org/deepin-cd/"] { padding: 3px; color: white; background-color: red; }

/* url: http://mirrors.hustunique.com/deepin-cd/ msg: Get "http://mirrors.hustunique.com/deepin-cd/": dial tcp 127.0.0.1:80: connect: connection refused */
a[href="http://mirrors.hustunique.com/deepin-cd/"] { padding: 3px; color: white; background-color: red; }

/* url: https://mirrors.hustunique.com/deepin-cd/ msg: Get "https://mirrors.hustunique.com/deepin-cd/": dial tcp 127.0.0.1:443: connect: connection refused */
a[href="https://mirrors.hustunique.com/deepin-cd/"] { padding: 3px; color: white; background-color: red; }

/* url: http://mirror.aarnet.edu.au/pub/deepin/deepin-cd/ msg: 404 Not Found */
a[href="http://mirror.aarnet.edu.au/pub/deepin/deepin-cd/"] { padding: 3px; color: white; background-color: red; }

/* url: http://mirror.datamossa.io/deepin-cd msg: Get "http://mirror.datamossa.io/deepin-cd": dial tcp 103.76.40.66:80: connect: connection refused */
a[href="http://mirror.datamossa.io/deepin-cd"] { padding: 3px; color: white; background-color: red; }

/* url: https://mirror.datamossa.io/deepin-cd msg: Get "https://mirror.datamossa.io/deepin-cd": dial tcp 103.76.40.66:443: connect: connection refused */
a[href="https://mirror.datamossa.io/deepin-cd"] { padding: 3px; color: white; background-color: red; }

/* url: ftp://mirror.datamossa.io/deepin-cd msg: Unsupported protocol */
a[href="ftp://mirror.datamossa.io/deepin-cd"] { padding: 3px; color: black; background-color: lightgrey; }
/* url: https://www.deepin.org/en/mirrors/releases/deepin-cd msg: 404 Not Found */
a[href="https://www.deepin.org/en/mirrors/releases/deepin-cd"] { padding: 3px; color: white; background-color: red; }

/* url: ftp://ftp.belnet.be/mirror/deepin-cd/ msg: Unsupported protocol */
a[href="ftp://ftp.belnet.be/mirror/deepin-cd/"] { padding: 3px; color: black; background-color: lightgrey; }
/* url: rsync://deepin.c3sl.ufpr.br/deepin-cd msg: Unsupported protocol */
a[href="rsync://deepin.c3sl.ufpr.br/deepin-cd"] { padding: 3px; color: black; background-color: lightgrey; }
/* url: ftp://sft.if.usp.br/deepin-cd msg: Unsupported protocol */
a[href="ftp://sft.if.usp.br/deepin-cd"] { padding: 3px; color: black; background-color: lightgrey; }
/* url: rsync://sft.if.usp.br/deepin-cd msg: Unsupported protocol */
a[href="rsync://sft.if.usp.br/deepin-cd"] { padding: 3px; color: black; background-color: lightgrey; }
/* url: ftp://deepin.ipacct.com/deepin-cd/ msg: Unsupported protocol */
a[href="ftp://deepin.ipacct.com/deepin-cd/"] { padding: 3px; color: black; background-color: lightgrey; }
/* url: https://deepin.ipacct.com/deepin-cd/ msg: Get "https://deepin.ipacct.com/deepin-cd/": dial tcp 195.85.215.207:443: connect: connection refused */
a[href="https://deepin.ipacct.com/deepin-cd/"] { padding: 3px; color: white; background-color: red; }

/* url: ftp://mirrors.netix.net/deepin-cd/ msg: Unsupported protocol */
a[href="ftp://mirrors.netix.net/deepin-cd/"] { padding: 3px; color: black; background-color: lightgrey; }
/* url: ftp://mirror.dotsrc.org/deepin-cd msg: Unsupported protocol */
a[href="ftp://mirror.dotsrc.org/deepin-cd"] { padding: 3px; color: black; background-color: lightgrey; }
/* url: ftp://mirror.cedia.org.ec/deepin-cd msg: Unsupported protocol */
a[href="ftp://mirror.cedia.org.ec/deepin-cd"] { padding: 3px; color: black; background-color: lightgrey; }
/* url: ftp://mirrors.ircam.fr/pub/deepin/ msg: Unsupported protocol */
a[href="ftp://mirrors.ircam.fr/pub/deepin/"] { padding: 3px; color: black; background-color: lightgrey; }
/* url: ftp://ftp.fau.de/deepin/ msg: Unsupported protocol */
a[href="ftp://ftp.fau.de/deepin/"] { padding: 3px; color: black; background-color: lightgrey; }
/* url: ftp://ftp.gwdg.de/pub/linux/linuxdeepin/releases/ msg: Unsupported protocol */
a[href="ftp://ftp.gwdg.de/pub/linux/linuxdeepin/releases/"] { padding: 3px; color: black; background-color: lightgrey; }
/* url: ftp://mirror2.tuxinator.org/deepin-cd/ msg: Unsupported protocol */
a[href="ftp://mirror2.tuxinator.org/deepin-cd/"] { padding: 3px; color: black; background-color: lightgrey; }
/* url: http://ftp.heanet.ie/pub/deepin-cd/ msg: 404 Not Found */
a[href="http://ftp.heanet.ie/pub/deepin-cd/"] { padding: 3px; color: white; background-color: red; }

/* url: ftp://ftp.kddilabs.jp/Linux/packages/deepin/deepin-cd/ msg: Unsupported protocol */
a[href="ftp://ftp.kddilabs.jp/Linux/packages/deepin/deepin-cd/"] { padding: 3px; color: black; background-color: lightgrey; }
/* url: ftp://ftp.riken.jp/Linux/deepin msg: Unsupported protocol */
a[href="ftp://ftp.riken.jp/Linux/deepin"] { padding: 3px; color: black; background-color: lightgrey; }
/* url: https://ftp.tsukuba.wide.ad.jp/deepin msg: 404 Not Found */
a[href="https://ftp.tsukuba.wide.ad.jp/deepin"] { padding: 3px; color: white; background-color: red; }

/* url: ftp://ftp.nluug.nl/pub/os/Linux/distr/deepin-cd/ msg: Unsupported protocol */
a[href="ftp://ftp.nluug.nl/pub/os/Linux/distr/deepin-cd/"] { padding: 3px; color: black; background-color: lightgrey; }
/* url: https://ftp.nluug.nl/deepin-cd/ msg: 404 Not Found */
a[href="https://ftp.nluug.nl/deepin-cd/"] { padding: 3px; color: white; background-color: red; }

/* url: ftp://ftp1.nluug.nl/pub/os/Linux/distr/deepin-cd/ msg: Unsupported protocol */
a[href="ftp://ftp1.nluug.nl/pub/os/Linux/distr/deepin-cd/"] { padding: 3px; color: black; background-color: lightgrey; }
/* url: ftp://ftp2.nluug.nl/pub/os/Linux/distr/deepin-cd/ msg: Unsupported protocol */
a[href="ftp://ftp2.nluug.nl/pub/os/Linux/distr/deepin-cd/"] { padding: 3px; color: black; background-color: lightgrey; }
/* url: ftp://ftp.snt.utwente.nl/pub/os/linux/deepin-cd msg: Unsupported protocol */
a[href="ftp://ftp.snt.utwente.nl/pub/os/linux/deepin-cd"] { padding: 3px; color: black; background-color: lightgrey; }
/* url: https://ftp.snt.utwente.nl/deepin-cd msg: 404 Not Found */
a[href="https://ftp.snt.utwente.nl/deepin-cd"] { padding: 3px; color: white; background-color: red; }

/* url: ftp://mirrors.dotsrc.org/deepin-cd/ msg: Unsupported protocol */
a[href="ftp://mirrors.dotsrc.org/deepin-cd/"] { padding: 3px; color: black; background-color: lightgrey; }
/* url: ftp://mirror.onet.pl/pub/mirrors/deepin-cd/ msg: Unsupported protocol */
a[href="ftp://mirror.onet.pl/pub/mirrors/deepin-cd/"] { padding: 3px; color: black; background-color: lightgrey; }
/* url: https://mirror.onet.pl/pub/mirrors/deepin-cd/ msg: Get "https://mirror.onet.pl/pub/mirrors/deepin-cd/": dial tcp 213.180.139.200:443: i/o timeout */
a[href="https://mirror.onet.pl/pub/mirrors/deepin-cd/"] { padding: 3px; color: white; background-color: red; }

/* url: ftp://mirrors.up.pt/pub/deepin-cd/ msg: Unsupported protocol */
a[href="ftp://mirrors.up.pt/pub/deepin-cd/"] { padding: 3px; color: black; background-color: lightgrey; }
/* url: ftp://mirror.truenetwork.ru/deepin-cd/ msg: Unsupported protocol */
a[href="ftp://mirror.truenetwork.ru/deepin-cd/"] { padding: 3px; color: black; background-color: lightgrey; }
/* url: ftp://mirror.yandex.ru/mirrors/deepin/releases/ msg: Unsupported protocol */
a[href="ftp://mirror.yandex.ru/mirrors/deepin/releases/"] { padding: 3px; color: black; background-color: lightgrey; }
/* url: ftp://tux.rainside.sk/deepin-cd/ msg: Unsupported protocol */
a[href="ftp://tux.rainside.sk/deepin-cd/"] { padding: 3px; color: black; background-color: lightgrey; }
/* url: ftp://ftp.harukasan.org/deepin-cd/ msg: Unsupported protocol */
a[href="ftp://ftp.harukasan.org/deepin-cd/"] { padding: 3px; color: black; background-color: lightgrey; }
/* url: http://ftpmirror1.infania.net/mirror/deepin/releases/ msg: Get "http://ftpmirror1.infania.net/mirror/deepin/releases/": dial tcp: lookup ftpmirror1.infania.net: Temporary failure in name resolution */
a[href="http://ftpmirror1.infania.net/mirror/deepin/releases/"] { padding: 3px; color: white; background-color: red; }

/* url: https://ftpmirror1.infania.net/mirror/deepin/releases/ msg: Get "https://ftpmirror1.infania.net/mirror/deepin/releases/": dial tcp: lookup ftpmirror1.infania.net: Temporary failure in name resolution */
a[href="https://ftpmirror1.infania.net/mirror/deepin/releases/"] { padding: 3px; color: white; background-color: red; }

/* url: ftp://ftpmirror1.infania.net/mirror/deepin/releases/ msg: Unsupported protocol */
a[href="ftp://ftpmirror1.infania.net/mirror/deepin/releases/"] { padding: 3px; color: black; background-color: lightgrey; }
/* url: https://ftpmirror1.infania.net/deepin msg: Get "https://ftpmirror1.infania.net/deepin": dial tcp: lookup ftpmirror1.infania.net: Temporary failure in name resolution */
a[href="https://ftpmirror1.infania.net/deepin"] { padding: 3px; color: white; background-color: red; }

/* url: ftp://ftp.lysator.liu.se/pub/deepin/releases msg: Unsupported protocol */
a[href="ftp://ftp.lysator.liu.se/pub/deepin/releases"] { padding: 3px; color: black; background-color: lightgrey; }
/* url: https://ftp.lysator.liu.se::deepin/releases msg: parse "https://ftp.lysator.liu.se::deepin/releases": invalid port ":deepin" after host */
a[href="https://ftp.lysator.liu.se::deepin/releases"] { padding: 3px; color: white; background-color: red; }

/* url: ftp://deepin.ip-connect.vn.ua/mirror/deepin/ msg: Unsupported protocol */
a[href="ftp://deepin.ip-connect.vn.ua/mirror/deepin/"] { padding: 3px; color: black; background-color: lightgrey; }
/* url: rsync://deepin.ip-connect.vn.ua/deepin/ msg: Unsupported protocol */
a[href="rsync://deepin.ip-connect.vn.ua/deepin/"] { padding: 3px; color: black; background-color: lightgrey; }
/* url: ftp://mirror.bytemark.co.uk/linuxdeepin/releases/ msg: Unsupported protocol */
a[href="ftp://mirror.bytemark.co.uk/linuxdeepin/releases/"] { padding: 3px; color: black; background-color: lightgrey; }
/* url: ftp://mirror.yrk.bytemark.co.uk/linuxdeepin/releases/ msg: Unsupported protocol */
a[href="ftp://mirror.yrk.bytemark.co.uk/linuxdeepin/releases/"] { padding: 3px; color: black; background-color: lightgrey; }
/* url: ftp://mirror.man.bytemark.co.uk/linuxdeepin/releases/ msg: Unsupported protocol */
a[href="ftp://mirror.man.bytemark.co.uk/linuxdeepin/releases/"] { padding: 3px; color: black; background-color: lightgrey; }
/* url: ftp://ftp.mirrorservice.org/sites/cdimage.linuxdeepin.com/releases/ msg: Unsupported protocol */
a[href="ftp://ftp.mirrorservice.org/sites/cdimage.linuxdeepin.com/releases/"] { padding: 3px; color: black; background-color: lightgrey; }
/* url: ftp://mirrors.kernel.org/deepin-cd/ msg: Unsupported protocol */
a[href="ftp://mirrors.kernel.org/deepin-cd/"] { padding: 3px; color: black; background-color: lightgrey; }
